<div class="hero-unit">
  <h1>Genres list</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Key</th>
                <th>Subgenres</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="genre in genres">
                <td>{{genre.genre_id}}</td>
                <td>{{genre.title}}</td>
                <td>{{genre.genre_key}}</td>
                <td>
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="subgenre in genre.subgenres">
                                <td>{{subgenre.subgenre_id}}</td>
                                <td><input type="text" data-ng-model="subgenre.title" /></td>
                                <td>{{subgenre.subgenre_key}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <button ng-click="doSave()" class="btn btn-primary">Save</button>
  </div>
